.app-header {
  height: 140px;
  background-color: $seaweed;

  .app-header-container {
    padding-block-start: 75px;
    .logo {
      margin-inline-end: 80px;
    }

    .header-link-btns {
      font-family: livvic-semibold;
      font-size: rem(18px);
      gap: 40px;
    }
  }
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: auto;
  height: 44px;
  width: 153px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 51px;
  border: 2px solid #fff ;
  
  span {
    font-size: rem(18px);
    font-family: livvic-semibold;
  }

  &.revert{
    color: #002f34;
    border: 2px solid #002f34 ;


  }
}
