.hero{
    height: 560px;
    background-color: $seaweed;
position: relative;
    .hero-leftoval{
        position: absolute;
    }
    .hero-bottomoval{
        position: absolute;
        transform: translateY(50%);
        bottom: 0;
        right: 190px;
    }
    .hero-container{
        padding-block-start: 150px;
        .hero-content-container{
            gap: 135px;
            
            .hero-title{
                width: 530px;
                font-size: rem(100px);
                font-family: livvic-bold;
                line-height: 1;
                
                span{
                    color: $pink;
                }
                
            }
            .hero-context{
                width: 420px;
                font-size: rem(18px);
                font-family: livvic-semibold;
            }
        }

    }
}