.summery {
  position: relative;
  min-height: 685px;
  background-color: $darker-teal;

  .summery-rightoval {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .summery-container {
    .summery-content-container {
      margin-block-start: 200px;
      justify-content: space-between;
      flex-wrap: wrap;
      .summery-title {
        max-width: 415px;
        align-self: self-start;
      }

      .summery-rows-container {
        gap: 40px;
        .summery-row {
          gap: 25px;

          img {
            object-fit: none;
          }
          .summery-row-content {
            gap: 25px;
          }
          .row-title {
            width: 100%;
            color: $pink;
            font-family: livvic-bold;
            font-size: rem(18px);
          }

          .row-text {
              max-width: 420px;
            color: #ccd5d6;
            font-family: livvic-semibold;
            font-size: rem(15px);
          }
        }
      }
    }
  }
}
