.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-inline-start: auto;
  height: 44px;
  width: 153px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 51px;
  border: 2px solid #fff ;
  
  span {
    font-size: rem(18px);
    font-family: livvic-semibold;
    padding: 15px;
    width: max-content;
  }

  &.revert{
    color: #002f34;
    border: 2px solid #002f34 ;


  }
}
