// flex helpers

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
.align-end {
  align-self: flex-end;
}
.align-start {
  align-self: flex-start;
}

.flex-grow1 {
  flex-grow: 1;
}

.warp {
  flex-wrap: wrap;
}

.p-absolute{
  position: absolute;
}
.title{

  font-family: livvic-bold;
  font-size: rem(48px);
  line-height: 1;
}