@font-face{
    font-family: livvic-bold;
    src: url('../../fonts/Livvic/Livvic-Bold.ttf');
}

@font-face{
    font-family: livvic-semibold;
    src: url('../../fonts/Livvic/Livvic-SemiBold.ttf');
}

@font-face{
    font-family: livvic-mediumitalic;
    src: url('../../fonts/Livvic/Livvic-MediumItalic.ttf');
}
